* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* Container della nav */

.container-header {
  margin: 30px;
}

.cnt-nav {
  display: flex;
  padding: 20px;

  background-color: #fb4a5b;
  border-radius: 100px;
  margin: 30px 30px;
}

.cnt-nav h1 {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 37px;
}