/*************************************************
    GENERAL RULES CSS
 *************************************************/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: rgb(52, 52, 52);
}

/*************************************************
    NAVBAR
 *************************************************/

.container-header {
  margin: 30px;
}

.cnt-nav {
  display: flex;
  padding: 20px;
  background-color: #fb4a5b;
  border-radius: 100px;
  margin: 30px 30px;
}

.cnt-nav h1 {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 37px;
}

/*************************************************
   HOMEPAGE con card viaggi
 *************************************************/

.cards-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  row-gap: 60px;
  justify-content: center;
}
.card-viaggio {
  cursor: pointer;
  width: 200px;
  height: 180px;
  border-radius: 20px;
}

.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
}

.data-viaggio {
  color: gray;
}
h2 {
  margin: 4px 0;
}

/*************************************************
   SINGOLO VIAGGIO 
 *************************************************/

.main-container-sv {
  background-color: beige;
  margin: 0 auto;
  width: 80%;
}

.searchbar {
  background-color: blueviolet;
}

.viaggio-img {
  width: 100%;
  max-width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
  margin-top: 10px;
}
